body {
    background-color: azure;
    color: #454b5e;
    /* reset */
    margin: 0;
	padding: 0;
	border: 0;
}

header {
    background-color: #abbed0;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.container-valor {
    text-align: center;
    margin: 50px 0px;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.container-valor input {
    font-size: 1.3rem;
    color: #454b5e
}

.container-botoes {
    text-align: center;
   
}

.container-botoes button {
    border-radius: 10px;
    border-color: #454b5e;
    width: 250px;
    height: 70px;
    font-size: 1.1rem;
    background-color:  #abbed0;
    margin: 15px;
    color: #454b5e
}

.container-botoes button:hover {
    font-weight: bold;
    font-size: 1.2rem;
}

#saida {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-bottom: 0;
    font-size: 25px;
    color: #207627
}


#saidaVermelha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-top:0px;
    font-size: 25px;
    color: #b30d0d
}

#saidaCinza {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-top:0px;
    font-size: 25px;
    
}